.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    
}

.main{
    border-radius: 5px;
    padding: 15px;
    background-color: indianred
}
