<div class="center" *ngIf="hasLoaded">
    <div class="main">
        <h5>It seems you have not created an account yet. Enter a handler: </h5>
        <form [formGroup]="form" (submit)="newUser()">
            <p>Handler: </p>
            <input type="text" formControlName="handler" name="handler" placeholder="@myHandler">
            <div style="margin-top: 5%">
                <input type="submit" class="btn btn-primary" [disabled]="form.invalid" value="Create Account">
            </div>  
        </form>
    </div>

</div>
