.from-me{
    height: auto;
    width: 70%;
    text-align: right;
    border: 3px #a811d6 solid;
    
}

.from-partner{
    height: auto;
    width: 70%;
    text-align: left;
    border: 3px #0f3566 solid;
}

.messages-box{
    border: 5px #eee solid;
    height: 300px;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.messages-header{
    text-align: center!important;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;   
}

textarea{
    width: 100% !important;
    margin-top:5px;
    padding: 0 !important;
}

#send-area{
    padding-top:10px;
}


/* chat */

.message {
    border: 2px solid #c94c4c;
    background-color: #dda4a4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  
.message-self {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border-color: #ccc;
    background-color: #ddd;
    text-align: right
}

.message::after {
    content: "";
    clear: both;
    display: table;
}

.non-self-name{
    font-size: x-small;
}
  
/* Chrome Specific */

::-webkit-scrollbar {
    /* display: none; */
}

