
  <form [formGroup]="userForm"  *ngIf="isLoaded && loggedInUser">
      <div style="margin-bottom: 20px;">
        <input type="hidden" readOnly formControlName="fromId" name="fromId" placeholder="Your id">
      </div>
    </form>
    <div class="messages-header">
        <mat-progress-spinner mode="indeterminate" color="purple"  diameter="30" *ngIf="isFetching"></mat-progress-spinner>
    </div>
    <div #messageBox class="messages-box"  (scroll)="beingScrolled($event)" >
      
      <div *ngFor="let message of messages" [class.message-self]="message.sender == loggedInUser.handler"
      [class.message]="message.sender != loggedInUser.handler ">
          {{message.message}}
          <div *ngIf="message.sender != loggedInUser.handler" class="non-self-name">
            {{message.sender}}
          </div>
      </div>
    </div>

  <form #messageForm [formGroup]="form" (submit)="sendMessageUsingRest()">
    <div class="container">
        <div class="row">
          <div class="col-9">
              <textarea #textAreaMessage (keypress)="textAreaChange($event)"  (click)="scrollToBottom()" type="text" formControlName="message" name="message" placeholder="Message"></textarea>
          </div>
          <div class="col" id="send-area">
              <input class="btn btn-primary" type="submit" [disabled]="form.invalid || userForm.invalid" value="Send" >
          </div>
        </div>
    </div>
    <div class="container">
    </div>
  </form>

  