
<div class="center">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle>
          <button type="button" class="btn-primary" (click)="signInWithFB()"  mat-flat-button color="primary">Sign In With Facebook</button>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <button type="button" class="btn-primary" (click)="signInWithGoogle()"  mat-flat-button color="primary">Sign In With Google</button>
          </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    
  </div>    
  